<a href="https://colab.research.google.com/github/BernardoRMendes/Projeto/blob/main/MomentumETFs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url="https://raw.githubusercontent.com/BernardoRMendes/Projeto/main/dataframe.xlsx"

In [3]:
df=pd.read_excel(url,index_col=0)

In [4]:
df

             date      Pesos
symbol
ewz    2021-04-23   0.036941
ewj    2021-04-23   3.863661
ieur   2021-04-23  13.030639
aaxj   2021-04-23   3.144924
ewzs   2021-04-23   0.249633
spy    2021-04-23  16.156096
xlk    2021-04-23   5.091661
xly    2021-04-23   3.699562
xlb    2021-04-23   7.652924
xli    2021-04-23   9.854595
xlu    2021-04-23   0.000000
xlc    2021-04-23   8.942083
xlp    2021-04-23   0.846681
xlf    2021-04-23  13.361183
xlv    2021-04-23   5.231156
xle    2021-04-23   8.838262