<a href="https://colab.research.google.com/github/BernardoRMendes/Projeto/blob/main/MomentumETFs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url="https://raw.githubusercontent.com/BernardoRMendes/Projeto/main/dataframe.xlsx"

In [3]:
df=pd.read_excel(url,index_col=0)

In [4]:
df

             date      Pesos
symbol
ewz    2021-04-22   0.062610
ewj    2021-04-22   4.491762
ieur   2021-04-22  13.818498
aaxj   2021-04-22   3.715714
ewzs   2021-04-22   0.298083
spy    2021-04-22  16.306610
xlk    2021-04-22   5.302628
xly    2021-04-22   3.616334
xlb    2021-04-22   7.355417
xli    2021-04-22   8.677362
xlu    2021-04-22   0.000000
xlc    2021-04-22   9.158651
xlp    2021-04-22   0.824211
xlf    2021-04-22  13.482799
xlv    2021-04-22   4.895251
xle    2021-04-22   7.994070